<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".ManuelTaiApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManuelTAi"
        android:usesCleartextTraffic="false"
        android:hardwareAccelerated="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LessonPlannerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.QuestionGeneratorActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.WorkspaceToolActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.StudentRecordsActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.MaterialsActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.AssistantActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
